@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #000000 !important;
  width: 100%;
  overflow-x: hidden;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: "Montserrat", serif;
}

/*___________ROBOTO FONT____________*/
/*___SASS for roboto Font Family____*/
/*____SASS for color_____*/
.main-body {
  background-image: url("../images/butterfly-dots.png");
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
  position: relative;
}

.bredcamp{
  display: flex;
  justify-content: center;
}
.bredcamp ul{
  padding: 0;
  margin: 0;
}
.bredcamp ul li{
  list-style-type: none;
  float: left;
  color: #408a65;
  margin: 0 10px;
  font-size: 24px;
}
.bredcamp ul li a{
  color: #aeaeae;
  font-size: 24px;
  transition: 0.5s;
}
.bredcamp ul li a:hover{
  color: #408a65;
}
.bredcamp ul li a.active{
  color: #408a65;
}


header {
  position: relative;
}
header .top-part {
  background-color: #f6edda;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  transition: 0.3s linear;
}
header .top-part .icon {
  width: 6%;
  transition: 0.4s linear;
}
header .top-part .icon img {
  width: 100%;
}
header .top-part .icon:nth-child(2) {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  transition: 0.3s linear;
}
header .bottom-part {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin: -1px auto;
  transition: 0.3s linear;
}
header .bottom-part img {
  width: 100%;
}
header .bottom-part ul {
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, 50%);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 6%;
  margin: 0;
  z-index: 4;
  transition: 0.3s linear;
}
header .bottom-part ul li {
  list-style: none;
  display: inline-block;
}
header .bottom-part ul li a {
  color: #231f20;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}
header .bottom-part ul li a:active {
  color: green;
}

.bottom-part ul li a.active {
  padding: 5px 10px;
  border-radius: 8px;
  color: #22563c;
}

main {
  margin-top: 14%;
  overflow: hidden;
}


main .page-title {
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0 !important;
}
main .page-title h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  position: relative;
  display: inline-block;
}
main .page-title h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-101%, 50%);
  height: 0.5px;
  width: 1000px;
  background-color: #333;
}
main .page-title h1::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translate(101%, 50%);
  width: 1000px;
  height: 0.5px;
  background-color: #333;
}

.title-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

#main-title {
  position: fixed;
  width: 100%;
  background-color: black;
  z-index: 2;
  padding: 5px 0;
}
#main-title h1 {
  font-size: 60px;
  padding: 15px 0;
}



.home-lepidoptera > .row > .col-md-4 {
  display: none;
}

.load-more {
  display: block;
  margin: 4% 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #dfc053;
  font-size: 24px;
  font-weight: 400;
}

.load-more .circle {
  height: 0;
  width: 0;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  overflow: hidden;
}

.load-more:hover {
  color: #22563c;
}

.load-more:hover .circle {
  height: 70px;
  width: 70px;
  border: 1px solid gray;
}

.home-lepidoptera > div img, .home-paper-cutting > div img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.home-lepidoptera > div .information, .home-paper-cutting > div .description {
  margin-top: -16%;
  background: #080808;
  z-index: 2;
  position: relative;
  margin-bottom: 3%;
  padding: 20px;
  width: 94%;
  border-top-right-radius: 25px;
}
.home-lepidoptera > div .information span, .home-paper-cutting > div .description span {
  color: #dfc053;
  font-size: 17px;
  font-weight: 600;
}
.home-lepidoptera > div .information h2, .home-paper-cutting > div .description h2 {
  color: #fff;
  font-size: 24px;
}
.home-lepidoptera > div .information p, .home-paper-cutting > div .description p {
  color: #b4b4b4;
  font-size: 19px;
  line-height: 1.3;
}
.home-lepidoptera > div .information a, .home-paper-cutting > div .description a {
  color: #dfc053;
  font-size: 17px;
}
.home-lepidoptera > div .information a i, .home-paper-cutting > div .description a i {
  transform: rotate(35deg);
  transition: 0.6s;
}
.home-lepidoptera > div .information a:hover, .home-paper-cutting > div .description a:hover {
  opacity: 0.8;
}
.home-lepidoptera > div .information a:hover i, .home-paper-cutting > div .description a:hover i {
  transform: rotate(90deg);
}

.footer-text-2{
  display: block;
  font-size: 16px !important;
  margin-bottom: 12px;
}


.filter-drop-down {
  width: 100%;
  position: absolute;
  left: 0;
  top: 45px;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
.filter-drop-down input {
  padding: 5px 0;
  padding-left: 5px;
  color: black;
}
.filter-drop-down button {
  background: #231f20;
  padding: 5px;
  color: #fff !important;
}
.filter-drop-down button:hover {
  color: #0b0b0b !important;
  opacity: 0.7;
}

.search-area form input {
  width: 100%;
}

.search-area {
  padding: 0 10%;
}
.search-area form input {
  background: transparent;
  border: 1px solid #3c3b3b;
  border-radius: 0 !important;
  color: #fff;
  font-size: 16px;
}
.search-area form input:focus {
  background: transparent;
  color: white;
}
.search-area form button, .search-area form a {
  color: #fff;
  border: 1px solid #0b0b0b;
  border-radius: 0 !important;
  margin: 0;
  border: none !important;
  background-color: #212529 !important;
}
.search-area form button i, .search-area form a i {
  color: #fff;
}
.search-area form button:hover, .search-area form a:hover {
  background-color: #fff;
  color: #fff;
}
.search-area form button:hover i, .search-area form a:hover i {
  color: #fff;
}

.myLine {
  height: 2px;
  width: 200px;
  background-color: #fff;
}

div.dt-container .dt-paging .dt-paging-button {
  background: #fff;
  color: #221d0b;
  transition: 0.5s;
}

div.dt-container .dt-paging .dt-paging-button:hover {
  background: #231f20;
  color: #fff !important;
}

div.dt-container .dt-paging .dt-paging-button.current {
  color: white !important;
}

tbody, td, tfoot, th, thead, tr {
  color: #fff !important;
}

table {
  border-collapse: separate;
}

table.dataTable > tbody > tr:nth-child(even) {
  background-color: #1e1e1e;
}

table.dataTable > tbody > tr > td {
  border-top: 1px solid #0b0b0b !important;
  padding: 10px 10px;
}

table.dataTable > tbody > tr > td a {
  padding: 7px 12px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: 0.3s linear;
}

table.dataTable > tbody > tr > td a:hover {
  background-color: #fff;
  color: #221d0b;
}

thead {
  border-radius: 1px solid #0b0b0b !important;
}

tfoot {
  display: none;
}

table.dataTable thead > tr > th {
  background: #0b0b0b;
  border: 1px solid #3c3b3b !important;
  border-top: 0;
  background-color: #1e1e1e;
}

div.dt-container div.dt-layout-full > *:only-child {
  border: 1px solid #3c3b3b !important;
  font-size: 17px;
}

div.dt-container .dt-info {
  color: #fff;
}

div.dt-container .dt-length {
  display: none;
}

div.dt-container .dt-search {
  display: none;
}

table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
  text-align: left !important;
}

div.dt-container div.dt-layout-row {
  margin: 15px 0 0 0;
}

/*=========Lapidoptera Information==========*/
.main-container {
  background-image: url("../images/dots.png");
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.desc {
  overflow: hidden;
  padding-left: 1%;
}

.desc h5 {
  color: #fff;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  display: inline-block;
  position: relative;
}


.desc .d-title{
  font-size: 25px;
  font-weight: 400;
}

.desc p {
  font-weight: 250;
  /* letter-spacing: 1px; */
  font-size: 23px;
}

.lapidoptera-info {
  color: #fff;
  font-size: 21px;
  padding-top: 30px;
  padding-left: 80px;
}
.lapidoptera-info > div:nth-child(1) {
  margin-left: 0%;
}

.lapidoptera-info > div:nth-child(2) {
  margin-left: 2%;
}

.lapidoptera-info > div:nth-child(3) {
  margin-left: 4%;
}

.lapidoptera-info > div:nth-child(4) {
  margin-left: 6%;
}

.lapidoptera-info > div:nth-child(5) {
  margin-left: 8%;
}

.lapidoptera-info > div:nth-child(6) {
  margin-left: 10%;
}

.lapidoptera-info > div:nth-child(7) {
  margin-left: 12%;
}

.lapidoptera-info > div:nth-child(8) {
  margin-left: 14%;
}

.lapidoptera-info > div:nth-child(9) {
  margin-left: 16%;
}

.lapidoptera-info > div:nth-child(10) {
  margin-left: 18%;
}

.distribution-wrap {
  padding: 1% 0;
  background-color: #1e1e1e;
}
.distribution-wrap .box {
  border: 1px solid #595959;
  margin-top: 0;
  margin: 35px 20px;
  padding: 20px 20px;
  position: relative;
  transition: 0.6s linear;
  min-height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 21px;
}
.distribution-wrap h5 {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 60px;
  text-align: center;
  margin: 20px 0 0 0;
}
.distribution-wrap b {
  color: #fff;
  font-size: 25px;
  line-height: 1;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #fff;
  width: 70%;
  padding: 11px;
  position: absolute;
  top: calc(-7% - 10px);
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, 0);
  background-image: linear-gradient(90deg, #296748 11%, #051c11 122%, #45d18b 98%, #22563c 110%, #22563c 42%);
  font-weight: 400;
}
.distribution-wrap p {
  color: #fff;
  text-align: center;
}

.distribution-wrap .row {
  border-radius: 17px;
  background-color: #1e1e1e;
  padding: 15px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.lapidoptera-gallery {
  margin-bottom: 4%;
  background-image: url("../images/detail-butterfly.png");
  background-size: 8% auto;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
}
.lapidoptera-gallery h5 {
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.lapidoptera-gallery .row img {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

/*==================END==================*/
/*===========Video for Index page===========*/
.myVideo {
  width: 100%;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.vid-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.vid-content h3 {
  font-size: 35px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: 400;
}
.vid-content h1 {
  font-size: 90px;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  height: 85px;
  animation: bannerText 4s forwards;
}

@keyframes bannerText {
  0% { transform: scale(0); opacity: .3; }
  100% { transform: scale(1); opacity: 1; }
}



#suggestions{
  padding: 0;
  margin: 0;
  background: #000;
  padding: 10px;
  border-radius: 5px;
  height:250px;
  overflow-y:scroll;
}
#suggestions::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.vid-content .m-1{
  width: 18%;
  margin-top: 11px !important;
  
  
}
.vid-content .m-1 .sglist{
  margin: 3px;
  padding:5px;
  cursor: pointer;
  text-align: left;
  border-radius: 5px;
}
.vid-content .m-1 .sglist a{
  color: #b3b3b3;
  display: block
}
.vid-content .m-1 .sglist a:hover{
  color: #fff;
}



.vid-content .search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.vid-content .search-bar i {
  font-size: 24px;
  color: #fff;
  transform: translateY(10px);
  font-size: 28px;
}
.vid-content .search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #a7a6a4;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}
.vid-content .search-bar input:focus {
  outline: 0;
  padding: 0 10px;
}

.counter {
  background-color: #f6edda;
  width: 120px;
  padding: 5px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  position: absolute;
  z-index: 2;
  right: 2%;
  bottom: -6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counter p {
  margin-bottom: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 6px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.counter h4 {
  margin-bottom: 2px;
  text-align: center;
  font-size: 17px;
  color: #22563c;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

/*===============End=======================*/
.mid-icon {
  z-index: 2;
  position: static !important;
  left: 50%;
  transform: translate(0%, 0%) !important;
}


table.dataTable thead th, table.dataTable tfoot th {
  font-weight: 400;
}
table.dataTable > tbody > tr > td{
  font-weight: 300;
}

.all-icons {
  justify-content: start !important;
}

.icon-width {
  width: 4.5% !important;
}

.bottom-part-style {
  margin-top: -9% !important;
  width: 100% !important;
}

.menu-item-style {
  padding-right: 1% !important;
  justify-content: end !important;
  gap: 1.5% !important;
}

.pdf-container {
  display: grid;
  grid-template-columns: repeat(5, 1.2fr);
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.pdf-container > div {
  width: 100%;
  background-color: #fff;
  padding: 4%;
  padding: 19%;
  border-radius: 20px;
  background-image: url("../images/curve.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  position: relative;
}
.pdf-container > div img {
  width: 100%;
  padding-bottom: 21%;
}
.pdf-container > div p {
  color: #fff;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%, 0);
  margin-bottom: 0;
}

/*=================(ABOUT US PAGE START)=========================*/
.text-content {
  background-image: url(../images/detail-butterfly.png);
  background-size: 13% auto;
  background-repeat: no-repeat;
  background-position: right top;
}
.text-content p {
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
  color: #fff;
  font-weight: 300;
  margin-bottom: 4%;
}

.members .member img {
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.members .member .about-member {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.members .member .about-member h5 {
  margin: 0;
}
.members .member .about-member P {
  margin: 0;
}

/*=================(ABOUT US PAGE END)=========================*/
.nav-item .nav-link {
  /* background-color: #fff !important;
  margin: 6px 12px;
  color: #000000 !important;
  border-radius: 26px !important;
  font-size: 24px !important;
  padding: 12px 35px !important;
  font-weight: 400; */
  text-align: center;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  position: relative;
  display: inline-block;
}

.nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-101%, 50%);
  height: 0.5px;
  width: 1000px;
  background-color: #333;
}
.nav-item .nav-link::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translate(101%, 50%);
  width: 1000px;
  height: 0.5px;
  background-color: #333;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background: none;
}

/* .nav-item .nav-link.active {
  background-image: linear-gradient(90deg, #296748 11%, #051c11 122%, #45d18b 98%, #22563c 110%, #22563c 42%);
  color: #fff !important;
} */

.graph-wrap .graph {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #595959;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 96%;
  position: relative;
  padding-top: 10px;
  min-height: 550px;
  border-radius: 12px;
  padding-top: 10px;
  margin: 0 auto;
}

.graph_heading {
  position: absolute;
  top: -33px;
  /* background-image: linear-gradient(90deg, #296748 11%, #051c11 122%, #45d18b 98%, #22563c 110%, #22563c 42%); */
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 35px;
  color: #fff;
  line-height: 0.9;
  border-radius: 15px;
  font-size: 23px;
  font-weight: 400;
  background: #595959;
  z-index:2;
}

.large-view-bt {
  position: absolute;
  bottom: -25px;
  background-image: linear-gradient(90deg, #296748 11%, #051c11 122%, #45d18b 98%, #22563c 110%, #22563c 42%);
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 30px;
  color: #fff;
  line-height: 0.9;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s;
}
.large-view-bt:hover{
  background-image: linear-gradient(90deg, #22563c 11%, #22563c 122%, #45d18b 98%, #051c11 110%, #296748 42%);
  color: #fff;
}

.svg svg {
  border-radius: 15px;
}

footer {
  background-color: #0a0a0a;
  padding: 3rem 1rem;
  position: relative;
}

.number-visit{
  position: absolute;
  right: 20px;
  bottom: -2px;
  background: #f6edda;
  color: #000;
  font-size: 15px;
  padding: 10px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
 }


footer .footer-wrap {
  margin: 0;
  color: #fff;
  font-size: 21px;
}
footer .footer-wrap button {
  background-image: linear-gradient(90deg, #296748 11%, #051c11 100%, #45d18b 98%, #22563c 110%, #22563c 42%);
  color: #fff !important;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
}
footer .footer-wrap p {
  padding: 10px 0 20px 0;
  border-bottom: 1px solid rgb(54, 53, 53);
}
footer .footer-wrap p a {
  color: #dfc053;
}
footer .footer-wrap span {
  font-size: 13px;
}

@media (max-width: 1600px) {
  .graph_heading{
    padding: 20px 15px;
    font-size: 20px;
  }
  .distribution-wrap b{
    width: 80%;
  }
  .lapidoptera-info{
    font-size: 19px;
  }
  div.dt-container div.dt-layout-full > :only-child{
    font-size: 17px;
  }
  footer .footer-wrap{
    font-size: 19px;
  }
  .home-lepidoptera > div .information p, .home-paper-cutting > div .description p{
    font-size: 17px;
  }
  header .bottom-part ul li a {
    font-size: 19px;
  }
  .vid-content h1 {
    font-size: 65px;
  }
  .vid-content .search-bar{
    width: 100%;
  }
  .vid-content .search-bar i {
    font-size: 28px;
  }
  .vid-content .search-bar input {
    font-size: 24px;
  }
  main .page-title h1 {
    font-size: 50px;
  }
  .desc h5 {
    color: #f6edda;
    font-size: 50px;
  }
  .distribution-wrap h5 {
    font-size: 50px;
  }
  .lapidoptera-gallery h5 {
    font-size: 50px;
  }

}
@media (max-width: 1200px) {
  .pdf-container {
    display: grid;
    grid-template-columns: repeat(4, 1.2fr);
  }
}
@media (max-width: 992px) {
  .vid-content h1 {
    font-size: 60px;
  }
  .vid-content .search-bar i {
    font-size: 30px;
  }
  .pdf-container {
    display: grid;
    grid-template-columns: repeat(3, 1.2fr);
  }
  main {
    margin-top: 114px;
  }
  header .bottom-part ul {
    background: #fff;
  }
  header .top-part .icon {
    width: 60px;
  }
  header .top-part {
    justify-content: start !important;
  }
  header .top-part .icon:nth-child(2) {
    z-index: 2;
    position: static;
    transform: translate(0, 0) !important;
  }
  .bottom-part ul {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: visible;
    background: white;
    gap: 2%;
    justify-content: center !important;
  }
  .navbar-toggler {
    position: absolute;
    width: -moz-fit-content;
    width: fit-content;
    right: 9px;
    z-index: 10;
  }
  .navbar-toggler-icon i {
    font-size: 32px;
  }
  header .bottom-part ul {
    transform: translate(0, 0) !important;
    top: 0;
    right: -1060px;
    align-items: center;
  }
  header .bottom-part {
    width: 100%;
  }
  header .bottom-part img {
    display: none;
  }
  header .bottom-part ul li {
    width: 100%;
    color: #fff;
    text-align: center;
    transition: 0.5s;
  }
  header .bottom-part ul li a {
    font-size: 23px;
    color: #231f20;
    text-align: center;
  }
  .collapse:not(.show) {
    display: table;
  }
  .showMenu {
    right: 0 !important;
  }
  .hideMenu {
    right: -1000px;
  }
  div.dt-container div.dt-layout-row {
    overflow-x: scroll;
  }
  div.dt-container div.dt-layout-row {
    margin: 0;
    border: 1px solid rgb(36, 35, 35);
  }
  .table-structure {
    overflow-x: scroll;
  }
  div.dt-container div.dt-layout-full {
    width: 300% !important;
  }
  div.dt-container div.dt-layout-full > *:only-child {
    border: 1px solid #0b0b0b !important;
    width: 200% !important;
  }
  .search-area input, .search-area .btn {
    margin-bottom: 10px;
  }
  .search-area .btn {
    padding: 12px !important;
  }
}
@media (max-width: 1150px) {
  table.dataTable > tbody > tr > td a {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .navbar-toggler {
    display: none !important;
  }
  
  
}
@media (max-width: 767px) {
    
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background:
none;
  font-size: 28px;
}
    
    .bredcamp ul li a{
      font-size: 17px;
  }
  .bredcamp ul li{
      margin:0 4px;
      font-size: 17px;
  }
  .bredcamp ul{
      margin: 0 15px;
  }
  #main-title h1{
      font-size: 22px;
  }
  .lapidoptera-info{
      padding-top: 0;
  padding-left: 0;
  }
  .desc .d-title{
      font-size: 20px;
  }
  .desc p{
      font-size: 20px;
  }
  .distribution-wrap b{
      font-size: 20px;
  }
  .distribution-wrap .box{
      font-size: 19px;
  }
  .lapidoptera-info {
    margin-top: 6%;
  }
  .distribution-wrap .w-50 {
    width: 100% !important;
  }
  .distribution-wrap .box:first-child {
    padding: 10px 20px;
  }
  footer .footer-wrap {
    margin: 0 4%;
  }
  footer .info p {
    text-align: center;
  }
  .pdf-container {
    display: grid;
    grid-template-columns: repeat(2, 1.2fr);
  }
  .lapidoptera-info > div {
    margin-left: 0% !important;
  }
  .distribution-wrap h5 {
    font-size: 35px;
  }
  .desc h5 {
    font-size: 35px;
  }
  .lapidoptera-gallery h5 {
    font-size: 35px;
  }
  main .page-title h1 {
    text-align: center;
    font-size: 35px;
    width: 60%;
  }
  .vid-content h3 {
    font-size: 22px;
  }
  .vid-content h1 {
    font-size: 40px;
    text-align: center;
  }
  .vid-content .search-bar input {
    font-size: 16px;
  }
  /*___REFERENCE PAGE START____*/
  .pdf-container > div p {
    font-size: 17px;
  }
  /*____REFERENCE PAGE END____*/
  #desk-vid {
    display: none;
  }
  #mob-vid {
    display: block;
  }
}
@media (min-width: 768px) {
  #desk-vid {
    display: block;
  }
  #mob-vid {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */